streamlit_authenticator==0.1.5
streamlit
deta
python-dotenv
PyPDF2
Pillow
PyPDF2[image]
opencv-python-headless
pyzbar
pyzbar[scripts]
flask
pandas
matplotlib
seaborn
torch
ipython
psutil
torchvision
tqdm
scipy
setuptools
wheel
#opencv-python==4.5.3.56
opencv-contrib-python
st-pages
streamlit-state
