streamlit_authenticator==0.1.5
streamlit
deta
python-dotenv
PyPDF2
Pillow
PyPDF2[image]
opencv-python-headless
pyzbar
pyzbar[scripts]
flask
pandas
opencv-python-headless
matplotlib
seaborn
torch
ipython
psutil
torchvision
tqdm
scipy
setuptools
wheel